@model E_Commerce.Models.Article

@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Detail";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="~/Image/@Url.Content(Model.Photo)" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Html.DisplayFor(model => model.Designation)</h5>
        <h3>
            <p class="card-text">

                <div class="plan-cost"><span class="plan-price">@Html.DisplayFor(model => model.PrixU) Dh</span><span class="plan-type"></span></div>
            </p>
        </h3>
        <a href="#" class="btn btn-primary">Add to card</a>
    </div>
</div>
@*
    <div>
        <h4>Article</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayNameFor(model => model.Designation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Designation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PrixU)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrixU)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
               @Html.DisplayFor(model => model.Photo)*
                <img src="~/Image/@Url.Content(Model.Photo)" height="120" width="100" />
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.NumArticle }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
*@

