@model E_Commerce.Models.Categorie


@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4 class="jumbotron text-center">Est-ce que vous etes sur  que vous voulez  modifier ce catégorie</h4>

    <div class="form-inline">



        <div class="form-group">
            @Html.Label("nom de catégorie", htmlAttributes: new { @class = "control-label " })


            @Html.EditorFor(model => model.NomCat, new { htmlAttributes = new { @class = "form-control input-lg" } })
            @Html.ValidationMessageFor(model => model.RefCat, "", new { @class = "text-danger " })
            <input type="submit" value="Valider" class="btn btn-info" />
            <input type="reset" value="Annuler" class="btn btn-primary" />
               @Html.HiddenFor(model => model.RefCat)
        </div>


    </div>

}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>



