@model E_Commerce.Models.ClientLogin

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Index";
}

@if ((String)ViewData["erreurAuth"] == "erreurAuth")
{
    <script>swal('login ou mot de passe incorrect.. réessayer !', '', 'error')</script>
}


<!--Login-->
    <div id="id01" class="modal">        
    
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/templateOne/logo.png" alt="Avatar" class="avatar">
            </div>

            <div class="containerPopup">
                @Html.LabelFor(model => model.Login)
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
            
                <br />

                @Html.LabelFor(model => model.MotDePasse)
                @Html.PasswordFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control", placeholder = "Mot de passe" } })
                @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })
                
            </div>

            <div class="containerFooter" style="background-color:#f1f1f1">
                <input type="submit" value="Login" class="btn btn-success"/>
                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    }
    </div>
<!--end login-->


<!--Login-->
<div id="id02" class="modal">

    @using (Html.BeginForm("AdminPanel", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
                <img src="~/images/templateOne/AdminPanel.png" alt="Avatar" class="avatar">
            </div>

            <div class="containerPopup">
                @Html.LabelFor(model => model.Login)
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
                @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })

                <br />

                @Html.LabelFor(model => model.MotDePasse)
                @Html.PasswordFor(model => model.MotDePasse, new { htmlAttributes = new { @class = "form-control", placeholder = "Mot de passe" } })
                @Html.ValidationMessageFor(model => model.MotDePasse, "", new { @class = "text-danger" })

            </div>

            <div class="containerFooter" style="background-color:#f1f1f1">
                <input type="submit" value="Login" class="btn btn-success" />
                <button type="button" onclick="document.getElementById('id02').style.display='none'" class="btn btn-primary">Cancel</button>
            </div>
        </div>
    }
</div>
<!--end login-->


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
