@model E_Commerce.Models.Article

@{Layout = null;
    ViewBag.Title = "Detail";
}

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrixU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrixU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>

            <img src="~/Image/@Url.Content(Model.Photo)" height="120" width="100" />
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

