<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/TemplateOne")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<!-- ======================================== Start Loading -->
    <div class="loading">
        <div class="text-center middle">
            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <!-- End Loading ========================================== -->

    <!-- ========================================= Start Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <!-- Logo -->
            <a class="logo" href="#">
                <img src="~/images/templateOne/logo.png" alt="logo">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar"><i class="fas fa-bars"></i></span>
            </button>

            <!-- navbar links -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" data-scroll-nav="0">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="1">Programme</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="3">APIs suggérées</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="4">Prix</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="5">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-scroll-nav="6">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar =========================================== -->

    <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="5" data-background="images/templateOne/bg.jpg" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="full-width text-center caption mt-30">
                    <h3>Innovation Sociale Safi</h3>
                    <h1 class="cd-headline clip">
                        <span class="blc">The Way Of </span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Success</b>
                            <b>Grow Up</b>
                            <b>Dream</b>
                        </span>
                    </h1>
                    <p>A single place to share, curate and discover visual that tells a story.</p>
                    <a href="#0" class="butn butn-bg">
                        <span>Inscription</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="arrow">
            <a href="#" data-scroll-nav="1">
                <i class="fas fa-chevron-down"></i>
            </a>
        </div>
    </header>*@




   
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>

    @Scripts.Render("~/bundles/TemplateOne")
    @RenderSection("scripts", required: false)
</body>
</html>
 